*{
  padding: 0;
  margin: 0;
}

:root {
  background: orange;
}

main {
  height: 2500px;
}

.topic1 {
  position: absolute;
    top: 1500px;
    height: 200px;
    z-index: 20;
    opacity: 0;
}

.text {
  font-size: 30px;
  width: 200px;
}

.textAnimation {
  animation: textAnim 0.5s forwards ease-in;
}

@keyframes textAnim {
  0%{
    left: 70px;
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  100%{
    left: 10px;
    opacity: 1;
  }
}