*{
  padding: 0;
  margin: 0;
}

:root {
  background: orange;
}

main {
  height: 2500px;
}

.text {
  font-size: 30px;
  width: 200px;
}

.textAnimation {
  animation: textAnim 1s forwards;
}

@keyframes textAnim {
  from{
    left: 150px;
    opacity: 0;
  }
  to{
    left: 10px;
    opacity: 1;
  }
  
}